

.engraveWrap{
    display: flex;
    // flex-flow: column;
    // align-items: center;
    width:800px;
    background-color: black;
    .engrave_list{
        display:flex;
        color:white;
        .engrave{//하나의 각인 부분
            display:flex;
            flex-flow:column;
            align-items:center;
            width:85px;
            margin: 10px 7px;
            font-size:10px;
            cursor:pointer;
            .engrave_img{
                display:flex;
                justify-content: center;
                border-radius: 70%;
                overflow: hidden;
                img{
                    width:44px;
                }
            }
        }
    }
    .add_engrave{
        width:80px;
        display: flex;
        justify-content: center;
        .add_engrave_button{
            color:white;
            cursor: pointer;
            font-size:55px;
        }
    }
    .minus_engrave{
        width:25px;
        display: flex;
        justify-content: center;
        .minus_engrave_button{
            cursor: pointer;
        }
    }
    
    
}