@import 'resetCss';
@import 'select';

.wrap {
    min-width: 800px; /* 최소 가로길이 800px */
}
.header{
    height: 80px;
    text-align: center;
    // background-color: lightgreen; 
}
.content{
    max-width: 1000px; /* 최대 가로길이 1200px */
    min-height: 600px;
    margin: 0 auto; /* 블럭요소 가운데 정렬 */

    .gakin{//각인 선택 
        display:flex;
        width:100%;
        justify-content: center;
    }

    .search{//메인 탐색 부분
        // background-color: red;
        height: 200px;
        display:flex;
        justify-content: space-around;
        .job{
            display:flex;
            justify-content: center;
            width:300px;
        }
        .gakinWrap{
            display: flex;
            flex-flow: column;
            align-items: center;
            width:300px;
        }

        .tekseng{//특성선택 영역
            width:300px;
            .tekseng_select_wrap{//특성 선택 감싸는것
                display:flex;
                justify-content: space-between;
                .tekseng_select_form{//각 특성 선택창
                    width: 90px;
                }
            }
            .slidecontainer{//특성 슬라이드바
                display:flex;
                justify-content: center;
                input{
                    width:290px;
                }
                
            }
        }
        
    }
    .result{
        height:300px;
        // background-color:blue;
    }
}

.option{//옵션 선택
    .option_button{//옵션 버튼
        width:80px;
        height:25px;
        border:1px solid #ddd;
        background:white;
        cursor:pointer;
    }
    .option_content{//옵션 전체적인 형태
        display:flex;
        justify-content: center;
        width:100%;
        .option_wrap{
            width:400px;
            display:flex;
            flex-direction: column;
        }
    }

    .price_wrap{//효율 저가 특성조절
        margin:10px 0 10px 0;
        .price_select_wrap{
            display:flex;
            justify-content: space-around;
        }
        .slidecontainer{
            width:100%;
            display:flex;
            justify-content: center;
            input{
                width:300px;
            }
        }
    }

    .dol_wrap{// 돌 고정
        display:flex;
        justify-content: space-between;
        margin:10px 0 10px 0;
    }

    .gakinseo_wrap{//각인서 고정
        display:flex;
        justify-content: space-between;
        margin:10px 0 10px 0;
    }
    //열고 닫기
    .option_content.close{
        display:none;
    }
    .option_content.open{
        display:flex;
    }

}


.result_element{
    background: pink;
    .result_acc_list{
        display:flex;
    }
    .acc{
        width:130px;
    }
    .abilgak{
        width:90px;
    }
    .acc_info{
        display: flex;
        .acc_wrap{
                display:flex;
                width:40px;
                height:40px;
                img{
                    width:40px;
                    height:40px;
                }
            }
        }
        .hero{//영웅
            background: linear-gradient(135deg,#261331,#480d5d);
        }
        .regend{//전설
            background: linear-gradient(135deg,#362003,#9e5f04);
        }
        .antiq{//유물
            background: linear-gradient(135deg,#341a09,#a24006);
        }
        .ancient{//고대
            background:linear-gradient(135deg,#3d3325,#dcc999);
        }
}

.footer{
    height:15px;
    text-align: center;
    background-color: lightblue;
}

