@import 'resetCss';
@import 'select';
$footer_size: 18px;
$header_size:65px;
html, body {
    margin: 0; 
    padding: 0; 
    height: 100%;

}

.default_button{
    width:80px;
    height:25px;
    border:1px solid #ddd;
    background:white;
    cursor:pointer;
}
.wrap {
    min-width: 800px; /* 최소 가로길이 800px */
    min-height: 100%; 
    position: relative;

}
.header{
    height: $header_size;
    text-align: center;
}

.slidecontainer{//슬라이드바
    display:flex;
    flex-direction: column;
    align-items: center;
    input{
        width:290px;
    }
    
}

.content{
    max-width: 1000px; /* 최대 가로길이 1200px */
    // min-height: 600px;
    height:100%;
    margin: 0 auto; /* 블럭요소 가운데 정렬 */
    padding-bottom: $footer_size;//footer크기

    .search{//메인 탐색 부분
        // background-color: red;
        height: 100px;
        display:flex;
        justify-content: space-around;
        .job{
            display:flex;
            cursor:pointer;
            background-color: black;
            justify-content: center;
            width:100px;
            height:100px;
            color:white;
            .job_content{
                justify-content: center;
            }
            
        }
    }
    .search_start{
        display:flex;
        justify-content: flex-end;
    }
    
}

.option{//옵션 선택
    .tekseng{//특성선택 영역
        width:300px;
        .tekseng_select_wrap{//특성 선택 감싸는것
            display:flex;
            justify-content: space-between;
            .tekseng_select_form{//각 특성 선택창
                width: 90px;
            }
        }
    }
    .option_content{//옵션 전체적인 형태
        display:flex;
        justify-content: center;
        width:100%;
        .option_wrap{
            width:400px;
            display:flex;
            flex-direction: column;
        }
    }

    .price_wrap{//효율 저가 특성조절
        margin:10px 0 10px 0;
        .price_select_wrap{
            display:flex;
            justify-content: space-around;
        }
    }

    .dol_wrap{// 돌 고정
        display:flex;
        justify-content: space-between;
        margin:10px 0 10px 0;
    }

    .gakinseo_wrap{//각인서 고정
        display:flex;
        justify-content: space-between;
        margin:10px 0 10px 0;
    }
    //열고 닫기
    .option_content.close{
        display:none;
    }

}
@import 'engrave';
@import 'result';

.footer{
    width:100%;
    height:$footer_size;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightblue;
}

@import 'modal';