
.result{
    height:650px;
    // background-color:blue;
    margin-bottom: $footer_size;
    .result_wrap{
        overflow: auto;
        height:100%;
    
    }
}
.result_element{
    background: pink;
    margin:10px 0;
    .result_acc_list{
        display:flex;
    }
    .acc{
        width:130px;
    }
    .abilgak{
        width:90px;
    }
    .acc_info{
        display: flex;
        .acc_wrap{
                display:flex;
                width:40px;
                height:40px;
                img{
                    width:40px;
                    height:40px;
                }
            }
        }
        .hero{//영웅
            background: linear-gradient(135deg,#261331,#480d5d);
        }
        .regend{//전설
            background: linear-gradient(135deg,#362003,#9e5f04);
        }
        .antiq{//유물
            background: linear-gradient(135deg,#341a09,#a24006);
        }
        .ancient{//고대
            background:linear-gradient(135deg,#3d3325,#dcc999);
        }
}