<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>각스더</title>
</head>

<body>
    <div class="wrap">
        <div class="header">각스더</div>
        <div class="content">
            <div class="search">
                <div class="job">
                    
                </div>
                <div class="engraveWrap">
                    <div class="engrave_list">

                    </div>
                    <div class="add_engrave">
                        <div class="add_engrave_button">
                            <img src = "../static/plus.png">
                        </div>
                    </div>
                </div>
                

            </div>
            <div class="option">
                <div class="option_content">
                    <div class="option_wrap">
                        <div class="slide_wrap">
                            <div class="tekseng">
                                <div class="tekseng_select_wrap">
                                    <div class="select_form tekseng_select_form">
                                        <select name="" id="" class="mainSelectAbil">
                                            <option>---</option>
                                            <option>치명</option>
                                            <option>특화</option>
                                            <option>신속</option>
                                        </select>
                                    </div>
                                    <div class="select_form tekseng_select_form">
                                        <select name="" id="" class="mainSelectAbil">
                                            <option>---</option>
                                            <option>치명</option>
                                            <option>특화</option>
                                            <option>신속</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="slidecontainer">
                                    <input type="range" min="0" max="100" value="50" step="25" class="slider" id="mainSliderAbilValue">
                                    <span class="slider_value">50%</span>
                                </div>
                            </div>
                            <div class="price_wrap">
                                <div class="price_select_wrap">
                                    <div class="low">
                                        저가
                                    </div>
                                    <div class="mid">
                                        효율
                                    </div>
                                    <div class="high">
                                        사장님
                                    </div>
                                </div>
                                <div class="slidecontainer">
                                    <input type="range" min="0" max="100" value="50" class="slider" step="25" id="OptionPriceSliderValue">
                                    <span class="slider_value">50%</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="abil_wrap">
                            <div class="abil_check">
                                <input type="checkbox" class="abil_checkbox"name="abil_chk" value="abil">어빌리티 스톤 고정
                            </div>
                            <div class = "abil_show_content">
                                <div class="abil_list">
                                    <div class="abil_hidden">
                                        <img src = "https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Ability/Ability_21.png">
                                    </div>
                                    <div class="abil_engrave_wrap">
                                        <div class="engrave">
                                            <div class="engrave_img">
                                                <img src = "https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Buff/Buff_71.png">
                                            </div>
                                            <span> 원한 </span>
                                            <div class="engrave_point">
                                                <div class="down"><img src = "../static/minusb.png"></div>
                                                <div class="value">5</div>
                                                <div class="up"><img src = "../static/plusb.png"></div>
                                            </div>
                                        </div>
                                        <div class="engrave">
                                            <div class="engrave_img">
                                                <img src = "https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Buff/Buff_113.png">
                                            </div>
                                            <span> 각성 </span>
                                            <div class="engrave_point">
                                                <div class="down"><img src = "../static/minusb.png"></div>
                                                <div class="value">5</div>
                                                <div class="up"><img src = "../static/plusb.png"></div>
                                            </div>
                                        </div>
                                        <div class="engrave">
                                            <div class="engrave_img">
                                                <img src = "https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Ability/Ability_220.png">
                                            </div>
                                            <span> 공격속도 감소 </span>
                                            <div class="engrave_point">
                                                <div class="down"><img src = "../static/minusb.png"></div>
                                                <div class="value">5</div>
                                                <div class="up"><img src = "../static/plusb.png"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="receipe_wrap">
                            <div class="receipe_check">
                                <input type="checkbox" class = "receipe_checkbox" name="receipe_chk" value="receipe">각인서 고정
                            </div>
                            <div class="receipe_show_content">
                                <div class="receipe_list">
                                    <div class="receipe_hidden">
                                        <img src = "https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_9_24.png">
                                    </div>
                                    <div class="receipe_engrave_wrap">
                                        <div class="engrave">
                                            <div class="engrave_img">
                                                <img src = "https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Buff/Buff_71.png">
                                            </div>
                                            <span> 원한 </span>
                                            <div class="engrave_point">
                                                <div class="down"><img src = "../static/minusb.png"></div>
                                                <div class="value">9</div>
                                                <div class="up"><img src = "../static/plusb.png"></div>
                                            </div>
                                        </div>
                                        <div class="engrave">
                                            <div class="engrave_img">
                                                <img src = "https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Buff/Buff_113.png">
                                            </div>
                                            <span> 각성 </span>
                                            <div class="engrave_point">
                                                <div class="down"><img src = "../static/minusb.png"></div>
                                                <div class="value">9</div>
                                                <div class="up"><img src = "../static/plusb.png"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search_start">
                <button class="search_button default_button">찾기</button>
            </div>
            <div class="result">
                <div class="update_time">
                </div>
                <div class="result_wrap">
                </div>
            </div>
        </div>
        <div class="footer">©While0 CEO_신동협, CTO_이상준, 인턴_서준배</div>
    </div>


    <div id="job_modal" class="modal modal_close">
        <!-- 모달 보이는 부분 -->
        
        <div class="modal_window">
            <div class="close">
                닫기
            </div>
            <div class="modal_title">
                직업 선택
            </div>
            <div class="modal_content">
                
            </div>
        </div>
        <!-- 뒷배경 -->
        <div class="modal_dimmed"></div>
    </div>

    <div id="engrave_modal" class="modal modal_close">
        <!-- 모달 보이는 부분 -->
        
        <div class="modal_window">
            <div class="close">
                닫기
            </div>
            <div class="modal_title">
                각인 선택
            </div>
            <div class="modal_content">

            </div>
        </div>
        <!-- 뒷배경 -->
        <div class="modal_dimmed"></div>
    </div>
    <div id="abil_modal1" class="modal modal_close">
        <!-- 모달 보이는 부분 -->
        
        <div class="modal_window">
            <div class="close">
                닫기
            </div>
            <div class="modal_title">
                각인 선택
            </div>
            <div class="modal_content">

            </div>
        </div>
        <!-- 뒷배경 -->
        <div class="modal_dimmed"></div>
    </div>
    <div id="abil_modal2" class="modal modal_close">
        <!-- 모달 보이는 부분 -->
        
        <div class="modal_window">
            <div class="close">
                닫기
            </div>
            <div class="modal_title">
                부정 각인 선택
            </div>
            <div class="modal_content">

            </div>
        </div>
        <!-- 뒷배경 -->
        <div class="modal_dimmed"></div>
    </div>
    <div id="receipe_modal" class="modal modal_close">
        <!-- 모달 보이는 부분 -->
        
        <div class="modal_window">
            <div class="close">
                닫기
            </div>
            <div class="modal_title">
                각인 선택
            </div>
            <div class="modal_content">

            </div>
        </div>
        <!-- 뒷배경 -->
        <div class="modal_dimmed"></div>
    </div>
</body>

</html>