<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>각스더</title>
</head>

<body>
    <div class="wrap">
        <div class="header"></div>
        <div class="navi">
            <ul class="navi_content">
                <li><div class="navi_button selected" value = "harb">파메계산기</div></li>
                <li><div class="navi_button" value = "ella">엘라어 생성기(개발중)</div></li>
                <li><div class="navi_button" value = "gak">각스더(유기)</div></li>
            </ul>
        </div>
        <div class="content">
            <div class="ella">
                <div class="inOutWrap">
                    <!--입력 출력 -->
                    <div class="inputArea"><!--입력-->
                        <div class="title">
                            한글
                        </div>
                        <div class="input">
                            입력 영역
                        </div>
                    </div>
                    <div class="outputArea"><!--출력-->
                        <div class="title">
                            엘라어
                        </div>
                        <div class="output">
                            출력 영역
                        </div>
                    </div>
                </div>
                <div class="convert"><!--전환 버튼-->
                    <div class="convertButton">
                        전환버튼
                    </div>
                </div>
                <div class="keyboardWrap">
                    <!-- 자판기 -->
                    <div class="keyboard"><!--자판기 -->
                        자판기
                    </div>
                </div>
                <div class="explain">
                    <!-- 설명서 -->
                    참고한곳
                </div>
            </div>
        </div>
        <div class="footer">©서준배 개인 프로젝트</div>
    </div>


    <div id="job_modal" class="modal modal_close">
        <!-- 모달 보이는 부분 -->
        
        <div class="modal_window">
            <div class="close">
                닫기
            </div>
            <div class="modal_title">
                직업 선택
            </div>
            <div class="modal_content">
                
            </div>
        </div>
        <!-- 뒷배경 -->
        <div class="modal_dimmed"></div>
    </div>

    <div id="engrave_modal" class="modal modal_close">
        <!-- 모달 보이는 부분 -->
        
        <div class="modal_window">
            <div class="close">
                닫기
            </div>
            <div class="modal_title">
                각인 선택
            </div>
            <div class="modal_content">

            </div>
        </div>
        <!-- 뒷배경 -->
        <div class="modal_dimmed"></div>
    </div>
    <div id="abil_modal1" class="modal modal_close">
        <!-- 모달 보이는 부분 -->
        
        <div class="modal_window">
            <div class="close">
                닫기
            </div>
            <div class="modal_title">
                각인 선택
            </div>
            <div class="modal_content">

            </div>
        </div>
        <!-- 뒷배경 -->
        <div class="modal_dimmed"></div>
    </div>
    <div id="abil_modal2" class="modal modal_close">
        <!-- 모달 보이는 부분 -->
        
        <div class="modal_window">
            <div class="close">
                닫기
            </div>
            <div class="modal_title">
                부정 각인 선택
            </div>
            <div class="modal_content">

            </div>
        </div>
        <!-- 뒷배경 -->
        <div class="modal_dimmed"></div>
    </div>
    <div id="receipe_modal" class="modal modal_close">
        <!-- 모달 보이는 부분 -->
        
        <div class="modal_window">
            <div class="close">
                닫기
            </div>
            <div class="modal_title">
                각인 선택
            </div>
            <div class="modal_content">

            </div>
        </div>
        <!-- 뒷배경 -->
        <div class="modal_dimmed"></div>
    </div>
</body>

</html>